<h1>login page</h1>


<div class="user-info">

    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="Username"><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="password"><br>
    <button type="submit">Login</button>
    <a href="/register">Register</a>
</div>