<h1>login page</h1>


<div class="user-info">
<<<<<<< HEAD
   <form action="/auth/login" method="post">
  <h3>Login</h3>
  <input name="email" type="email" placeholder="Enter your email address">
  <input name="password" type="password" placeholder="Enter your password">
=======

   <form action="/auth/login" method="post">
  <h3>Login</h3>
  <input name="email" type="email" placeholder="Enter your email address">
  <input name="passwords" type="password" placeholder="Enter your password">
>>>>>>> bc0168e5e2f464e1b3075635f894c47d0362d320
  <button>Submit</button>
</form>
</div>