{{#if errors}}
  <div class="errors">
    {{#each errors}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}
<div class="register">
<form action="/auth/register" method="POST">
  <h3>Register</h3>
  <input name="username" type="text" placeholder="Enter your username">
  <input name="email" type="email" placeholder="Enter your email address">
  <input name="passwords" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form>
</div>