:root {
    --darkbg: #150C0C;
    --chalkgreen: #799D58;
    --palechalk: #FFF2D3;
    --bluechalk: #00AEB1;
    --pumpkinchalk: #E07D48;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body { 
    background-color: var(--darkbg); 
    color: var(--palechalk);
    font-family: Arial, sans-serif;
    font-weight: 100;
    line-height: 30px;
    font-size: 14px;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--chalkgreen);
    border-radius: 6px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--palechalk);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:var(--palechalk);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--palechalk);
  }

input[name=username] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--chalkgreen);
    border-radius: 6px;
    width:400px;
}

input[type=email] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--chalkgreen);
    border-radius: 6px;
    width:400px;
}

input[type=submit] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--bluechalk);
    border-radius: 6px;
    width:400px;
}

input[type=password] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--chalkgreen);
    border-radius: 6px;
    width:400px;
    
}

.form-submit-button {
    background: var(--bluechalk);
    color: var(--palechalk);
    border-style: outset;
    border-color: var(--darkbg);
    padding: 10px;
    border-radius: 6px;
    width: 424px;
    text-shadow: none;
    margin-top: 20px;
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--chalkgreen); 
    padding:3px 16px 3px 16px;
    color: var(--darkbg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: 800;
    max-width: 1600px;
    margin-bottom: 24px;
}
 
.navlogo {
    max-width: 200px;
    justify-content: space-between;

}

.navlogin {
    justify-content: space-between;
    max-width: 200px;
}

.mainsplash {
    display: flex;
    max-width: 1200px;
    justify-content: center;
}

.maincontent {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    max-width:1200px;
    
}

.centerlists {
    flex-direction: column;
    padding: 0 30px 0 30px;

}

.bestsellers{
    margin-bottom: 20px;      
}

.tsundoku {
    margin-bottom: 20px; 
}

.user-info {
    margin: 60px 20px
}

.loginsplash {
    display: flex;
    justify-content: center;
}